:root[data-theme="dark"] {
  --ds-background-body-primary: #111111;
  --ds-background-body-secondary: #191919;
  --ds-background-body-tertiary: #202020;
  --ds-background-element-neutral-primary: #191919;
  --ds-background-element-neutral-secondary: #222222;
  --ds-background-element-neutral-tertiary: #2a2a2a;
  --ds-background-element-neutral-quaternary: #3a3a3a;
  --ds-background-element-neutral-alpha-primary: rgba(255, 255, 255, .0705882353);
  --ds-background-element-neutral-alpha-secondary: rgba(255, 255, 255, .1098039216);
  --ds-background-element-neutral-alpha-tertiary: rgba(255, 255, 255, .1294117647);
  --ds-background-element-neutral-inverse-primary: #646464;
  --ds-background-element-neutral-inverse-secondary: #838383;
  --ds-background-element-neutral-inverse-tertiary: #8d8d8d;
  --ds-background-element-brand-primary: #215b33;
  --ds-background-element-brand-secondary: #7acd8f;
  --ds-background-element-brand-tertiary: #194928;
  --ds-background-element-brand-alpha-primary: rgba(63, 254, 81, .1098039216);
  --ds-background-element-brand-alpha-secondary: rgba(23, 251, 55, .1882352941);
  --ds-background-element-brand-alpha-tertiary: rgba(38, 252, 70, .2509803922);
  --ds-background-element-brand-inverse-primary: #ffffff;
  --ds-background-element-brand-inverse-secondary: #f9f9f9;
  --ds-background-element-brand-inverse-tertiary: #f0f0f0;
  --ds-background-element-status-disable-primary: #191919;
  --ds-background-element-status-disable-secondary: #313131;
  --ds-background-element-status-success-primary: #3dd68c;
  --ds-background-element-status-success-secondary: #33b074;
  --ds-background-element-status-success-tertiary: #30a46c;
  --ds-background-element-status-danger-primary: #ff9592;
  --ds-background-element-status-danger-secondary: #ec5d5e;
  --ds-background-element-status-danger-tertiary: #e5484d;
  --ds-background-element-status-warning-primary: #f5e147;
  --ds-background-element-status-warning-secondary: #ffff57;
  --ds-background-element-status-warning-tertiary: #ffe629;
  --ds-background-element-status-info-primary: #9eb1ff;
  --ds-background-element-status-info-secondary: #5472e4;
  --ds-background-element-status-info-tertiary: #3e63dd;
  --ds-background-element-status-inprogress-primary: #ffa057;
  --ds-background-element-status-inprogress-secondary: #ff801f;
  --ds-background-element-status-inprogress-tertiary: #f76b15;
  --ds-background-element-dim-green-primary: #131b17;
  --ds-background-element-dim-green-secondary: #132d21;
  --ds-background-element-dim-green-tertiary: #184933;
  --ds-background-element-dim-red-primary: #201314;
  --ds-background-element-dim-red-secondary: #3b1219;
  --ds-background-element-dim-red-tertiary: #611623;
  --ds-background-element-dim-yellow-primary: #1a1812;
  --ds-background-element-dim-yellow-secondary: #2d2305;
  --ds-background-element-dim-yellow-tertiary: #443400;
  --ds-background-element-dim-blue-primary: #141726;
  --ds-background-element-dim-blue-secondary: #182449;
  --ds-background-element-dim-blue-tertiary: #253974;
  --ds-background-element-dim-orange-primary: #1c1712;
  --ds-background-element-dim-orange-secondary: #331e0b;
  --ds-background-element-dim-orange-tertiary: #562800;
  --ds-background-element-dim-neutral-primary: #222222;
  --ds-background-element-dim-neutral-secondary: #2a2a2a;
  --ds-background-element-dim-neutral-tertiary: #313131;
  --ds-background-element-dim-white-primary: rgba(255, 255, 255, .2);
  --ds-background-element-dim-white-secondary: rgba(255, 255, 255, .3019607843);
  --ds-background-element-dim-white-tertiary: rgba(255, 255, 255, .4);
  --ds-background-element-dim-brand-primary: #121b12;
  --ds-background-element-dim-brand-secondary: #162b18;
  --ds-background-element-dim-brand-tertiary: #164b1e;
  --ds-background-overlay-primary: rgba(0, 0, 0, .8);
  --ds-background-overlay-secondary: rgba(0, 0, 0, .6);
  --ds-background-overlay-tertiary: rgba(0, 0, 0, .4);
  --ds-background-element-neutral-pure-white: #111111;
  --ds-background-element-neutral-pure-black: #ffffff;
  --ds-text-brand-primary: #215b33;
  --ds-text-brand-secondary: #7acd8f;
  --ds-text-brand-tertiary: #194928;
  --ds-text-neutral-primary: #eeeeee;
  --ds-text-neutral-secondary: #b3b3b3;
  --ds-text-neutral-tertiary: #7b7b7b;
  --ds-text-neutral-inverse-primary: #fcfcfc;
  --ds-text-neutral-inverse-secondary: #bbbbbb;
  --ds-text-status-link-primary: #9eb1ff;
  --ds-text-status-link-secondary: #5472e4;
  --ds-text-status-link-tertiary: #3e63dd;
  --ds-text-status-success-primary: #3dd68c;
  --ds-text-status-success-secondary: #33b074;
  --ds-text-status-success-tertiary: #30a46c;
  --ds-text-status-danger-primary: #ff9592;
  --ds-text-status-danger-secondary: #ec5d5e;
  --ds-text-status-danger-tertiary: #e5484d;
  --ds-text-status-warning-primary: #f5e147;
  --ds-text-status-warning-secondary: #ffff57;
  --ds-text-status-warning-tertiary: #ffe629;
  --ds-text-status-inprogress-primary: #ffa057;
  --ds-text-status-inprogress-secondary: #ff801f;
  --ds-text-status-inprogress-tertiary: #f76b15;
  --ds-text-status-dim: #2a2a2a;
  --ds-text-status-disable: #606060;
  --ds-test-on-brand-primary: color-contrast(#215b33);
  --ds-icon-brand-primary: #215b33;
  --ds-icon-brand-secondary: #7acd8f;
  --ds-icon-brand-tertiary: #194928;
  --ds-icon-neutral-primary: #eeeeee;
  --ds-icon-neutral-secondary: #b3b3b3;
  --ds-icon-neutral-tertiary: #7b7b7b;
  --ds-icon-neutral-inverse-primary: #fcfcfc;
  --ds-icon-neutral-inverse-secondary: #bbbbbb;
  --ds-icon-status-success-primary: #3dd68c;
  --ds-icon-status-success-secondary: #33b074;
  --ds-icon-status-success-tertiary: #30a46c;
  --ds-icon-status-danger-primary: #ff9592;
  --ds-icon-status-danger-secondary: #ec5d5e;
  --ds-icon-status-danger-tertiary: #e5484d;
  --ds-icon-status-warning-primary: #f5e147;
  --ds-icon-status-warning-secondary: #ffff57;
  --ds-icon-status-warning-tertiary: #ffe629;
  --ds-icon-status-info-primary: #9eb1ff;
  --ds-icon-status-info-secondary: #5472e4;
  --ds-icon-status-info-tertiary: #3e63dd;
  --ds-icon-status-inprogress-primary: #ffa057;
  --ds-icon-status-inprogress-secondary: #ff801f;
  --ds-icon-status-inprogress-tertiary: #f76b15;
  --ds-icon-status-disable-primary: #606060;
  --ds-icon-status-disable-secondary: #6e6e6e;
  --ds-icon-on-brand-primary: color-contrast(#215b33);
  --ds-border-brand-primary: #215b33;
  --ds-border-brand-secondary: #7acd8f;
  --ds-border-brand-tertiary: #194928;
  --ds-border-brand-inverse-primary: #ffffff;
  --ds-border-brand-inverse-secondary: #f9f9f9;
  --ds-border-brand-inverse-tertiary: #f0f0f0;
  --ds-border-brand-dim-primary: #164b1e;
  --ds-border-neutral-primary: #313131;
  --ds-border-neutral-secondary: #484848;
  --ds-border-neutral-tertiary: #606060;
  --ds-border-neutral-quaternary: #6e6e6e;
  --ds-border-neutral-inverse-primary: #eeeeee;
  --ds-border-neutral-inverse-secondary: #b3b3b3;
  --ds-border-neutral-inverse-tertiary: #7b7b7b;
  --ds-border-status-success-primary: #2f7c57;
  --ds-border-status-success-secondary: #28684a;
  --ds-border-status-success-tertiary: #20573e;
  --ds-border-status-danger-primary: #b54548;
  --ds-border-status-danger-secondary: #8c333a;
  --ds-border-status-danger-tertiary: #72232d;
  --ds-border-status-warning-primary: #836a21;
  --ds-border-status-warning-secondary: #675318;
  --ds-border-status-warning-tertiary: #534103;
  --ds-border-status-info-primary: #435db1;
  --ds-border-status-info-secondary: #3a4f97;
  --ds-border-status-info-tertiary: #304384;
  --ds-border-status-inprogress-primary: #a35829;
  --ds-border-status-inprogress-secondary: #7e451e;
  --ds-border-status-inprogress-tertiary: #66350e;
  --ds-border-status-disable-primary: #191919;
  --ds-border-status-disable-secondary: #313131;
  --ds-border-neutral-pure-white: #111111;
  --ds-border-neutral-pure-black: #eeeeee;
  --ds-brand-primary: #215b33;
  --ds-brand-secondary: #7acd8f;
  --ds-brand-tertiary: #194928;
  --ds-brand-alpha-primary: rgba(63, 254, 81, .1098039216);
  --ds-brand-alpha-secondary: rgba(23, 251, 55, .1882352941);
  --ds-brand-alpha-tertiary: rgba(38, 252, 70, .2509803922);
  --ds-support-status-success-primary: #3dd68c;
  --ds-support-status-success-secondary: #33b074;
  --ds-support-status-success-tertiary: #30a46c;
  --ds-support-status-danger-primary: #ff9592;
  --ds-support-status-danger-secondary: #ec5d5e;
  --ds-support-status-danger-tertiary: #e5484d;
  --ds-support-status-warning-primary: #f5e147;
  --ds-support-status-warning-secondary: #ffff57;
  --ds-support-status-warning-tertiary: #ffe629;
  --ds-support-status-info-primary: #9eb1ff;
  --ds-support-status-info-secondary: #5472e4;
  --ds-support-status-info-tertiary: #3e63dd;
  --ds-support-status-inprogress-primary: #ffa057;
  --ds-support-status-inprogress-secondary: #ff801f;
  --ds-support-status-inprogress-tertiary: #f76b15;
  --ds-support-status-disable-primary: #191919;
  --ds-support-status-disable-secondary: #313131;
  --ds-sidebar-background: #162b18;
}
