:root {
  --ds-background-body-primary: #FFFFFF;
  --ds-background-body-secondary: #FCFCFC;
  --ds-background-body-tertiary: #FFFFFF;
  --ds-background-element-neutral-primary: #f9f9f9;
  --ds-background-element-neutral-secondary: #f0f0f0;
  --ds-background-element-neutral-tertiary: #e8e8e8;
  --ds-background-element-neutral-quaternary: #d9d9d9;
  --ds-background-element-neutral-alpha-primary: rgba(0, 0, 0, .0588235294);
  --ds-background-element-neutral-alpha-secondary: rgba(0, 0, 0, .0901960784);
  --ds-background-element-neutral-alpha-tertiary: rgba(0, 0, 0, .1215686275);
  --ds-background-element-neutral-inverse-primary: #202020;
  --ds-background-element-neutral-inverse-secondary: #646464;
  --ds-background-element-neutral-inverse-tertiary: #838383;
  --ds-background-element-brand-primary: #215b33;
  --ds-background-element-brand-secondary: #1a8242;
  --ds-background-element-brand-tertiary: #0d4b24;
  --ds-background-element-brand-alpha-primary: rgba(0, 167, 0, .0901960784);
  --ds-background-element-brand-alpha-secondary: rgba(0, 164, 7, .1490196078);
  --ds-background-element-brand-alpha-tertiary: rgba(0, 162, 5, .2196078431);
  --ds-background-element-brand-inverse-primary: #ffffff;
  --ds-background-element-brand-inverse-secondary: #f9f9f9;
  --ds-background-element-brand-inverse-tertiary: #f0f0f0;
  --ds-background-element-status-disable-primary: #f9f9f9;
  --ds-background-element-status-disable-secondary: #e0e0e0;
  --ds-background-element-status-success-primary: #218358;
  --ds-background-element-status-success-secondary: #2b9a66;
  --ds-background-element-status-success-tertiary: #30a46c;
  --ds-background-element-status-danger-primary: #ce2c31;
  --ds-background-element-status-danger-secondary: #dc3e42;
  --ds-background-element-status-danger-tertiary: #e5484d;
  --ds-background-element-status-warning-primary: #9e6c00;
  --ds-background-element-status-warning-secondary: #ffdc00;
  --ds-background-element-status-warning-tertiary: #ffe629;
  --ds-background-element-status-info-primary: #3a5bc7;
  --ds-background-element-status-info-secondary: #3358d4;
  --ds-background-element-status-info-tertiary: #3e63dd;
  --ds-background-element-status-inprogress-primary: #cc4e00;
  --ds-background-element-status-inprogress-secondary: #ef5f00;
  --ds-background-element-status-inprogress-tertiary: #f76b15;
  --ds-background-element-dim-green-primary: #f4fbf6;
  --ds-background-element-dim-green-secondary: #e6f6eb;
  --ds-background-element-dim-green-tertiary: #c4e8d1;
  --ds-background-element-dim-red-primary: #fff7f7;
  --ds-background-element-dim-red-secondary: #feebec;
  --ds-background-element-dim-red-tertiary: #ffcdce;
  --ds-background-element-dim-yellow-primary: #fefce9;
  --ds-background-element-dim-yellow-secondary: #fffab8;
  --ds-background-element-dim-yellow-tertiary: #ffe770;
  --ds-background-element-dim-blue-primary: #f7f9ff;
  --ds-background-element-dim-blue-secondary: #edf2fe;
  --ds-background-element-dim-blue-tertiary: #d2deff;
  --ds-background-element-dim-orange-primary: #fff7ed;
  --ds-background-element-dim-orange-secondary: #ffefd6;
  --ds-background-element-dim-orange-tertiary: #ffd19a;
  --ds-background-element-dim-neutral-primary: #f0f0f0;
  --ds-background-element-dim-neutral-secondary: #e8e8e8;
  --ds-background-element-dim-neutral-tertiary: #e0e0e0;
  --ds-background-element-dim-white-primary: rgba(255, 255, 255, .1019607843);
  --ds-background-element-dim-white-secondary: rgba(255, 255, 255, .2);
  --ds-background-element-dim-white-tertiary: rgba(255, 255, 255, .3019607843);
  --ds-background-element-dim-brand-primary: #f5fbf5;
  --ds-background-element-dim-brand-secondary: #e8f7e8;
  --ds-background-element-dim-brand-tertiary: #c6eac7;
  --ds-background-overlay-primary: rgba(0, 0, 0, .7019607843);
  --ds-background-overlay-secondary: rgba(0, 0, 0, .4);
  --ds-background-overlay-tertiary: rgba(0, 0, 0, .2);
  --ds-background-element-neutral-pure-white: #ffffff;
  --ds-background-element-neutral-pure-black: #111111;
  --ds-text-brand-primary: #215b33;
  --ds-text-brand-secondary: #1a8242;
  --ds-text-brand-tertiary: #0d4b24;
  --ds-text-neutral-primary: #202020;
  --ds-text-neutral-secondary: #646464;
  --ds-text-neutral-tertiary: #838383;
  --ds-text-neutral-inverse-primary: #fcfcfc;
  --ds-text-neutral-inverse-secondary: #bbbbbb;
  --ds-text-status-link-primary: #3a5bc7;
  --ds-text-status-link-secondary: #3358d4;
  --ds-text-status-link-tertiary: #3e63dd;
  --ds-text-status-success-primary: #218358;
  --ds-text-status-success-secondary: #2b9a66;
  --ds-text-status-success-tertiary: #30a46c;
  --ds-text-status-danger-primary: #ce2c31;
  --ds-text-status-danger-secondary: #dc3e42;
  --ds-text-status-danger-tertiary: #e5484d;
  --ds-text-status-warning-primary: #9e6c00;
  --ds-text-status-warning-secondary: #ffdc00;
  --ds-text-status-warning-tertiary: #ffe629;
  --ds-text-status-inprogress-primary: #cc4e00;
  --ds-text-status-inprogress-secondary: #ef5f00;
  --ds-text-status-inprogress-tertiary: #f76b15;
  --ds-test-on-brand-primary: color-contrast(#215b33);
  --ds-text-status-dim: #e8e8e8;
  --ds-text-status-disable: #bbbbbb;
  --ds-icon-brand-primary: #215b33;
  --ds-icon-brand-secondary: #1a8242;
  --ds-icon-brand-tertiary: #0d4b24;
  --ds-icon-neutral-primary: #202020;
  --ds-icon-neutral-secondary: #646464;
  --ds-icon-neutral-tertiary: #838383;
  --ds-icon-neutral-inverse-primary: #fcfcfc;
  --ds-icon-neutral-inverse-secondary: #bbbbbb;
  --ds-icon-status-success-primary: #218358;
  --ds-icon-status-success-secondary: #2b9a66;
  --ds-icon-status-success-tertiary: #30a46c;
  --ds-icon-status-danger-primary: #ce2c31;
  --ds-icon-status-danger-secondary: #dc3e42;
  --ds-icon-status-danger-tertiary: #e5484d;
  --ds-icon-status-warning-primary: #9e6c00;
  --ds-icon-status-warning-secondary: #ffdc00;
  --ds-icon-status-warning-tertiary: #ffe629;
  --ds-icon-status-info-primary: #3a5bc7;
  --ds-icon-status-info-secondary: #3358d4;
  --ds-icon-status-info-tertiary: #3e63dd;
  --ds-icon-status-inprogress-primary: #cc4e00;
  --ds-icon-status-inprogress-secondary: #ef5f00;
  --ds-icon-status-inprogress-tertiary: #f76b15;
  --ds-icon-status-disable-primary: #bbbbbb;
  --ds-icon-status-disable-secondary: #8d8d8d;
  --ds-icon-on-brand-primary: color-contrast(#215b33);
  --ds-border-brand-primary: #215b33;
  --ds-border-brand-secondary: #1a8242;
  --ds-border-brand-tertiary: #0d4b24;
  --ds-border-brand-inverse-primary: #ffffff;
  --ds-border-brand-inverse-secondary: #f9f9f9;
  --ds-border-brand-inverse-tertiary: #f0f0f0;
  --ds-border-brand-dim-primary: #c6eac7;
  --ds-border-neutral-primary: #e0e0e0;
  --ds-border-neutral-secondary: #cecece;
  --ds-border-neutral-tertiary: #bbbbbb;
  --ds-border-neutral-quaternary: #8d8d8d;
  --ds-border-neutral-inverse-primary: #202020;
  --ds-border-neutral-inverse-secondary: #646464;
  --ds-border-neutral-inverse-tertiary: #838383;
  --ds-border-status-success-primary: #5bb98b;
  --ds-border-status-success-secondary: #8eceaa;
  --ds-border-status-success-tertiary: #adddc0;
  --ds-border-status-danger-primary: #eb8e90;
  --ds-border-status-danger-secondary: #f4a9aa;
  --ds-border-status-danger-tertiary: #fdbdbe;
  --ds-border-status-warning-primary: #d5ae39;
  --ds-border-status-warning-secondary: #e4c767;
  --ds-border-status-warning-tertiary: #f3d768;
  --ds-border-status-info-primary: #8da4ef;
  --ds-border-status-info-secondary: #abbdf9;
  --ds-border-status-info-tertiary: #c1d0ff;
  --ds-border-status-inprogress-primary: #ec9455;
  --ds-border-status-inprogress-secondary: #f5ae73;
  --ds-border-status-inprogress-tertiary: #ffc182;
  --ds-border-status-disable-primary: #f9f9f9;
  --ds-border-status-disable-secondary: #e0e0e0;
  --ds-border-neutral-pure-white: #ffffff;
  --ds-border-neutral-pure-black: #000000;
  --ds-brand-primary: #215b33;
  --ds-brand-secondary: #1a8242;
  --ds-brand-tertiary: #0d4b24;
  --ds-brand-alpha-primary: rgba(0, 167, 0, .0901960784);
  --ds-brand-alpha-secondary: rgba(0, 164, 7, .1490196078);
  --ds-brand-alpha-tertiary: rgba(0, 162, 5, .2196078431);
  --ds-support-status-success-primary: #218358;
  --ds-support-status-success-secondary: #2b9a66;
  --ds-support-status-success-tertiary: #30a46c;
  --ds-support-status-danger-primary: #ce2c31;
  --ds-support-status-danger-secondary: #dc3e42;
  --ds-support-status-danger-tertiary: #e5484d;
  --ds-support-status-warning-primary: #9e6c00;
  --ds-support-status-warning-secondary: #ffdc00;
  --ds-support-status-warning-tertiary: #ffe629;
  --ds-support-status-info-primary: #3a5bc7;
  --ds-support-status-info-secondary: #3358d4;
  --ds-support-status-info-tertiary: #3e63dd;
  --ds-support-status-inprogress-primary: #cc4e00;
  --ds-support-status-inprogress-secondary: #ef5f00;
  --ds-support-status-inprogress-tertiary: #f76b15;
  --ds-support-status-disable-primary: #f9f9f9;
  --ds-support-status-disable-secondary: #e0e0e0;
  --ds-sidebar-background: #e8f7e8;
}
